
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myExamLabel" data-translate="universityApp.exam.home.createOrEditLabel">Create or edit a Exam</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.exam.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.exam.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="universityApp.exam.data" for="field_data">Data</label>
                <div class="input-group">
                    <input id="field_data" type="text" class="form-control" name="data" uib-datepicker-popup="{{dateformat}}" ng-model="vm.exam.data" is-open="vm.datePickerOpenStatus.data"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('data')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.data.$invalid">
                <p class="help-block"
                    ng-show="editForm.data.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="universityApp.exam.hour" for="field_hour">Hour</label>
            <input type="text" class="form-control" name="hour" id="field_hour"
                    ng-model="vm.exam.hour"
                    required/>
            <div ng-show="editForm.hour.$invalid">
                <p class="help-block"
                    ng-show="editForm.hour.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="universityApp.exam.classroom" for="field_classroom">Classroom</label>
            <input type="text" class="form-control" name="classroom" id="field_classroom"
                    ng-model="vm.exam.classroom"
                    required/>
            <div ng-show="editForm.classroom.$invalid">
                <p class="help-block"
                    ng-show="editForm.classroom.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="universityApp.exam.duration" for="field_duration">Duration</label>
            <input type="text" class="form-control" name="duration" id="field_duration"
                    ng-model="vm.exam.duration"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="universityApp.exam.deadline" for="field_deadline">Deadline</label>
                <div class="input-group">
                    <input id="field_deadline" type="text" class="form-control" name="deadline" uib-datepicker-popup="{{dateformat}}" ng-model="vm.exam.deadline" is-open="vm.datePickerOpenStatus.deadline"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('deadline')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

        <div class="form-group">
            <label data-translate="universityApp.exam.course" for="field_course">Course</label>
            <select class="form-control" id="field_course" name="course" ng-model="vm.exam.course" ng-options="course as course.id for course in vm.courses track by course.id">
                <option value=""></option>
            </select>
        </div>
        <!-- non esiste questa roba, può servire poi per l'iscrizione di uno studente ad un esame
        <div class="form-group">
            <label data-translate="universityApp.exam.student" for="field_student">Student</label>
            <select class="form-control" id="field_student" multiple name="student" ng-model="vm.exam.students" ng-options="student as student.id for student in vm.students track by student.id"></select>
        </div>-->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
